nav{
    background-color: gray;
    
}
form{
    padding: 50px;
    background-color: #212121;
    color: #fff;
    height: 91vh;  
}
.error{
    color: red;
    font-style: italic;
    font-size: medium;
}

#fetch{
    background-color:greenyellow;
}
table{
    border: 1px solid white;
    border-collapse: collapse;
    width: 100%;
}
#tbl-heading{
    background-color: #212121;
    color: #fff;    
}
#tbl-body{
    background-color: grey;
    color: #212121;
}
td,th {
    border: 1px solid white;
    text-align:center;
}