/* ! Changing default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: serif;
}

/* !Navbar styles */
.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #212529;
    color: white;
    padding: 20px 40px;
    margin-bottom: 30px;
    align-items: center;

}

i {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

.cart {
    background-color: white;
    color: #212529;
    padding: 5px;
    font-size: 30px;
    border-radius: 5px;
    position: relative;

}

.cartAmount {
    font-size: 16px;
    background-color: red;
    padding: 3px;
    position: absolute;
    top: -12px;
    right: -10px;
    padding: 3px;
    border-radius: 5px;
}

/* !Styling for items */

.shop {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
}

@media (max-width: 1000px) {
    .shop {
        grid-template-columns: repeat(2, 223px);
    }
}

@media (max-width: 500px) {
    .shop {
        grid-template-columns: repeat(1, 223px);
    }
}

.item {
    border: 2px solid black;
    border-radius: 5px;
}

.details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.price-quantity {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.buttons {
    display: flex;
    /* flex-direction: row; */
    gap: 6px;

}

/* !Style rule for label and buttons */

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.HomeBtn,
.checkout,
.removeAll {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.checkout {
    background-color: green;
}

.removeAll {
    background-color: red;
}

.bi-x-lg {
    color: red;
    font-weight: bold;
}

/* !style rules for shopping cart */

.shopping-cart {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;

}
