body{
    background:linear-gradient(pink,skyblue);
    border-top:  20px double black;
    border-left:  20px double black;
    border-right:  20px double goldenrod;
    border-bottom:  20px double goldenrod;
    
}